body {
    background-image: url("https://wallpapers.com/images/high/courage-the-cowardly-dog-g6rlg9gvfsib2tg1.webp");
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
}

img {
    border: 0cap;
    border-radius: 50%;
}